@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Berkshire+Swash&display=swap');

html,
body {
    position: relative;
    font-family: 'Berkshire Swash';
    font-size: 22px;
    color: #DAD7CD;
    padding: 0;
    margin: 0;
    padding-bottom: 40px;
}

body {
    background-image: url(https://images.unsplash.com/photo-1724554427582-3b7cba44529b?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
}

div.header {
    perspective: 800px;
}

header {
    text-align: center;
    position: relative;
    width: 50%;
    min-width: 600px;
    max-width: 800px;
    line-height: 40px;
    background-color: #072b17;
    padding: 1px 40px;
    margin: 10px auto;
    border-radius: 30px 50px 50px 30px;
    border-right: 5px solid black;
    border-bottom: 3px solid black;
    box-shadow: 5px 5px 10px rgb(7, 7, 7), 10px 8px 20px rgba(12, 12, 12, 0.5), 24px 25px 20px rgba(17, 17, 17, 0.8), 24px 40px 15px rgba(20, 20, 20, 0.5);
    transform-style: preserve-3d;
    transform: rotateX(5deg) rotateY(-8deg);
}

.main {
    perspective: 800px;
}

p {
    position: relative;
    width: 70%;
    background-color: #072b17;
    margin: 50px auto;
    padding: 30px;
    border-radius: 20px;
    border-bottom: 5px solid black;
    border-left: 3px solid black;
    transform-style: preserve-3d;
    transform: rotateX(10deg) rotateY(8deg);
    box-shadow: -5px 5px 10px rgb(7, 7, 7), -10px 8px 20px rgba(12, 12, 12, 0.5), -24px 25px 20px rgba(17, 17, 17, 0.8), -24px 40px 15px rgba(20, 20, 20, 0.5);
}